h1 {
    text-align: center;
}

.go {
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
    background-color: green;
}

.ready {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: yellow;
}

.stop {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: red;
}